.jumbotron {
    background-image: url(https://cdn.pixabay.com/photo/2018/08/06/17/07/ship-3587946_1280.jpg);
    background-repeat: no-repeat;
    height: 285px;
    text-align: center;
    background-position-y: -250px;
    background-position-x: center;
    position: relative;
    width: 100%;
}

.content {
    margin-top: 0px;
    background-color: rgb(229, 240, 250);
}

h1 {
    font-size: 120px;
    color: darkblue;
    margin-bottom: 25px;
    font-family: Snell Roundhand;
    font-weight: bold;
    position: fixed;
}

nav {
    background-color: white;
    opacity: .5;
    padding: 30px;
    padding-bottom: 10px;
    position: fixed;
    top: 195px;
}

nav:hover {
    background-color: lightgrey;
    opacity: .5;
    padding: 30px;
    padding-bottom: 10px;
}

nav li {
    position: relative;
    display: inline;
    color: blue;
    font-size: 50px;
    border-style: dotted;
    border-color: 2px;
    padding: 30px 45px;
    border: 15px 25px;
    margin: 10px 10px;
}

h2 {
    font-size: 25px;
    color: white;
}

ul li {
    color: white;
}

ol li {
    color: white;
    list-style-type: upper-roman;
    position: relative;
    left: 50px;
}

p {
    padding-top: 45px;
    Color: gold;
    font-size: 25px;
}